
$selection                  :#ff3300;
$azul-principal             :#298089;
$gray-perfeito              :#777;
$gray-4                     :#444;
$gray-a                     :#aaa;
$gray-b                     :#bbb;
$gray-c                     :#ccc;
$gray-c                     :#ddd;
$gray-d                     :#eee;
$white                      :#fff;
$white-1                    :#f3f3f3;
$black-perfect              :#7070;
$black                      :#000;
$color-ciano                :#0ff;
$color-pink                 :#f0f;
$serenity                   :#92A8D1;
$silver                     :#c0c0c0;
$WhiteSmoke                 :#F5F5F5;                         //	rgb(245,245,245)
$great-event                :#e2cdcd;
$gray-f0                    :#f0f0f0;
$coffee                     :#6F4E37;
$metallic                   :#aaa9ad;
$rich-black                 :#010203;
$smoky-black                :#100c08;
$silver-chalice             :#acacac;
$crhome-aluminum            :#a8a9ad;

//Pink colors
$Pink 	                    :#FFC0CB;	 	//Shades	Mix
$LightPink 	                :#FFB6C1;	 	//Shades	Mix
$HotPink 	                :#FF69B4;	 	//Shades	Mix
$DeepPink 	                :#FF1493;	 	//Shades	Mix
$PaleVioletRed 	            :#DB7093;	 	//Shades	Mix
$MediumVioletRed 	        :#C71585;	 	//Shades	Mix


//Purpole colors
$Lavender 	                :#E6E6FA;	    //Shades	Mix
$Thistle 	                :#D8BFD8;	 	//Shades	Mix
$Plum 	                    :#DDA0DD;	 	//Shades	Mix
$Orchid 	                :#DA70D6;	 	//Shades	Mix
$Violet 	                :#EE82EE;	 	//Shades	Mix
$Fuchsia 	                :#FF00FF;	 	//Shades	Mix
$Magenta 	                :#FF00FF;	 	//Shades	Mix
$MediumOrchid 	            :#BA55D3;	 	//Shades	Mix
$DarkOrchid 	            :#9932CC;	 	//Shades	Mix
$DarkViolet 	            :#9400D3;	 	//Shades	Mix
$BlueViolet 	            :#8A2BE2;	 	//Shades	Mix
$DarkMagenta 	            :#8B008B;	 	//Shades	Mix
$Purple 	                :#800080;	 	//Shades	Mix
$MediumPurple 	            :#9370DB;	 	//Shades	Mix
$MediumSlateBlue 	        :#7B68EE;	 	//Shades	Mix
$SlateBlue 	                :#6A5ACD;	 	//Shades	Mix
$DarkSlateBlue 	            :#483D8B;	 	//Shades	Mix
$RebeccaPurple 	            :#663399;	 	//Shades	Mix
$Indigo  	                :#4B0082;	 	//Shades	Mix

//Red colors
$LightSalmon 	            :#FFA07A;	 	//Shades	Mix
$Salmon 	                :#FA8072;	 	//Shades	Mix
$DarkSalmon 	            :#E9967A;	 	//Shades	Mix
$LightCoral 	            :#F08080;	 	//Shades	Mix
$IndianRed  	            :#CD5C5C;	 	//Shades	Mix
$Crimson 	                :#DC143C;	 	//Shades	Mix
$Red 	                    :#FF0000;	 	//Shades	Mix
$FireBrick 	                :#B22222;	 	//Shades	Mix
$DarkRed 	                :#8B0000;	 	//Shades	Mix


//Orange colors
$Orange 	                :#FFA500;	    //Shades	Mix
$DarkOrange 	            :#FF8C00;	 	//Shades	Mix
$Coral 	                    :#FF7F50;	 	//Shades	Mix
$Tomato 	                :#FF6347;	 	//Shades	Mix
$OrangeRed 	                :#FF4500;	 	//Shades	Mix


//yellow colors
$Gold 	                    :#FFD700;	   // Shades	Mix
$Yellow 	                :#FFFF00;	 	//Shades	Mix
$LightYellow 	            :#FFFFE0;	 	//Shades	Mix
$LemonChiffon 	            :#FFFACD;	 	//Shades	Mix
$LightGoldenRodYellow 	    :#FAFAD2;	 	//Shades	Mix
$PapayaWhip 	            :#FFEFD5;	 	//Shades	Mix
$Moccasin 	                :#FFE4B5;	 	//Shades	Mix
$PeachPuff 	                :#FFDAB9;	 	//Shades	Mix
$PaleGoldenRod 	            :#EEE8AA;	 	//Shades	Mix
$Khaki 	                    :#F0E68C;	 	//Shades	Mix
$DarkKhaki 	                :#BDB76B;	 	//Shades	Mix

//Green colors
$GreenYellow 	            :#ADFF2F;	 	//Shades	Mix
$Chartreuse 	            :#7FFF00;	 	//Shades	Mix
$LawnGreen 	                :#7CFC00;	 	//Shades	Mix
$Lime 	                    :#00FF00;	 	//Shades	Mix
$LimeGreen 	                :#32CD32;	 	//Shades	Mix
$PaleGreen 	                :#98FB98;	 	//Shades	Mix
$LightGreen 	            :#90EE90;	 	//Shades	Mix
$MediumSpringGreen 	        :#00FA9A;	 	//Shades	Mix
$SpringGreen 	            :#00FF7F;	 	//Shades	Mix
$MediumSeaGreen 	        :#3CB371;	 	//Shades	Mix
$SeaGreen 	                :#2E8B57;	 	//Shades	Mix
$ForestGreen 	            :#228B22;	 	//Shades	Mix
$Green 	                    :#008000;	 	//Shades	Mix
$DarkGreen 	                :#006400;	 	//Shades	Mix
$YellowGreen 	            :#9ACD32;	 	//Shades	Mix
$OliveDrab 	                :#6B8E23;	 	//Shades	Mix
$DarkOliveGreen 	        :#556B2F;	 	//Shades	Mix
$MediumAquaMarine 	        :#66CDAA;	 	//Shades	Mix
$DarkSeaGreen 	            :#8FBC8F;	 	//Shades	Mix
$LightSeaGreen 	            :#20B2AA;	 	//Shades	Mix
$DarkCyan 	                :#008B8B;	 	//Shades	Mix
$Teal 	                    :#008080;	 	//Shades	Mix


//Cyan colors
$Aqua 	                    :#00FFFF;	 	//Shades	Mix
$Cyan 	                    :#00FFFF;	 	//Shades	Mix
$LightCyan  	            :#E0FFFF;	 	//Shades	Mix
$PaleTurquoise 	            :#AFEEEE;	 	//Shades	Mix
$Aquamarine 	            :#7FFFD4;	 	//Shades	Mix
$Turquoise 	                :#40E0D0;	 	//Shades	Mix
$MediumTurquoise 	        :#48D1CC;	 	//Shades	Mix
$DarkTurquoise 	            :#00CED1;	 	//Shades	Mix

//Blue colors
$CadetBlue 	                :#5F9EA0;	 	//Shades	Mix
$SteelBlue 	                :#4682B4;	 	//Shades	Mix
$LightSteelBlue             :#B0C4DE;	 	//Shades	Mix
$LightBlue 	                :#ADD8E6;	 	//Shades	Mix
$PowderBlue 	            :#B0E0E6;	 	//Shades	Mix
$LightSkyBlue 	            :#87CEFA;	 	//Shades	Mix
$SkyBlue 	                :#87CEEB;	 	//Shades	Mix
$CornflowerBlue             :#6495ED;	 	//Shades	Mix
$DeepSkyBlue 	            :#00BFFF;	 	//Shades	Mix
$DodgerBlue 	            :#1E90FF;	 	//Shades	Mix
$RoyalBlue 	                :#4169E1;	 	//Shades	Mix
$Blue 	                    :#0000FF;	 	//Shades	Mix
$MediumBlue 	            :#0000CD;	 	//Shades	Mix
$DarkBlue 	                :#00008B;	 	//Shades	Mix
$Navy 	                    :#000080;	 	//Shades	Mix
$MidnightBlue 	            :#191970;	 	//Shades	Mix

//Brown colors:
$Cornsilk 	                :#FFF8DC;	 	//Shades	Mix
$BlanchedAlmond 	        :#FFEBCD;	 	//Shades	Mix
$Bisque 	                :#FFE4C4;	 	//Shades	Mix
$NavajoWhite 	            :#FFDEAD;	 	//Shades	Mix
$Wheat 	                    :#F5DEB3;	 	//Shades	Mix
$BurlyWood 	                :#DEB887;	 	//Shades	Mix
$Tan 	                    :#D2B48C;	 	//Shades	Mix
$RosyBrown 	                :#BC8F8F;	 	//Shades	Mix
$SandyBrown 	            :#F4A460;	 	//Shades	Mix
$GoldenRod 	                :#DAA520;	 	//Shades	Mix
$DarkGoldenRod 	            :#B8860B;	 	//Shades	Mix
$Peru 	                    :#CD853F;	 	//Shades	Mix
$Chocolate 	                :#D2691E;	 	//Shades	Mix
$Olive 	                    :#808000;	 	//Shades	Mix
$SaddleBrown 	            :#8B4513;	 	//Shades	Mix
$Sienna 	                :#A0522D;	 	//Shades	Mix
$Brown 	                    :#A52A2A;	 	//Shades	Mix
$Maroon                     :#800000;      //Shades	Mix


$AliceBluE	            :#F0F8FF;	//240,248,255
$AntiqueWhite	        :#FAEBD7;	//250,235,215
$Aqua	                :#00FFFF;	//0,255,255
$Aquamarine	            :#7FFFD4;	//127,255,212
$Azure	                :#F0FFFF;	//240,255,255
$Beige	                :#F5F5DC;	//245,245,220
$Bisque	                :#FFE4C4;	//255,228,196
$Black	                :#000000;	//0,0,0
$BlanchedAlmond	        :#FFEBCD;	//255,235,205
$Blue	                :#0000FF;	//0,0,255
$BlueViolet	            :#8A2BE2;	//138,43,226
$Brown	                :#A52A2A;	//165,42,42
$BurlyWood	            :#DEB887;	//222,184,135
$CadetBlue	            :#5F9EA0;	//95,158,160
$Chartreuse	            :#7FFF00;	//127,255,0
$Chocolate	            :#D2691E;	//210,105,30
$Coral	                :#FF7F50;	//255,127,80
$CornflowerBlue	        :#6495ED;	//100,149,237
$Cornsilk	            :#FFF8DC;	//255,248,220
$Crimson	            :#DC143C;	//220,20,60
$Cyan	                :#00FFFF;	//0,255,255
$DarkBlue	            :#00008B;	//0,0,139
$DarkCyan	            :#008B8B;	//0,139,139
$DarkGoldenRod	        :#B8860B;	//184,134,11
$DarkGray	            :#A9A9A9;	//169,169,169
$DarkGrey	            :#A9A9A9;	//169,169,169
$DarkGreen	            :#006400;	//0,100,0
$DarkKhaki	            :#BDB76B;	//189,183,107
$DarkMagenta	        :#8B008B;	//139,0,139
$DarkOliveGreen	        :#556B2F;	//85,107,47
$DarkOrange	            :#FF8C00;	//255,140,0
$DarkOrchid	            :#9932CC;	//153,50,204
$DarkRed	            :#8B0000;	//139,0,0
$DarkSalmon	            :#E9967A;	//233,150,122
$DarkSeaGreen	        :#8FBC8F;	//143,188,143
$DarkSlateBlue	        :#483D8B;	//72,61,139
$DarkSlateGray	        :#2F4F4F;	//47,79,79
$DarkSlateGrey	        :#2F4F4F;	//47,79,79
$DarkTurquoise	        :#00CED1;	//0,206,209
$DarkViolet	            :#9400D3;	//148,0,211
$DeepPink	            :#FF1493;	//255,20,147
$DeepSkyBlue	        :#00BFFF;	//0,191,255
$DimGray	            :#696969;	//105,105,105
$DimGrey	            :#696969;	//105,105,105
$DodgerBlue	            :#1E90FF;	//30,144,255
$FireBrick	            :#B22222;	//178,34,34
$FloralWhite	        :#FFFAF0;	//255,250,240
$ForestGreen	        :#228B22;	//34,139,34
$Fuchsia	            :#FF00FF;	//255,0,255
$Gainsboro	            :#DCDCDC;	//220,220,220
$GhostWhite	            :#F8F8FF;	//248,248,255
$Gold	                :#FFD700;	//255,215,0
$GoldenRod	            :#DAA520;	//218,165,32
$Gray	                :#808080;	//128,128,128
$Grey	                :#808080;	//128,128,128
$Green	                :#008000;	//0,128,0
$GreenYellow	        :#ADFF2F;	//173,255,47
$HoneyDew	            :#F0FFF0;	//240,255,240
$HotPink	            :#FF69B4;	//255,105,180
$IndianRed	            :#CD5C5C;	//205,92,92
$Indigo	                :#4B0082;	//75,0,130
$Ivory	                :#FFFFF0;	//255,255,240
$Khaki	                :#F0E68C;	//240,230,140
$Lavender	            :#E6E6FA;	//230,230,250
$LavenderBlush	        :#FFF0F5;	//255,240,245
$LawnGreen	            :#7CFC00;	//124,252,0
$LemonChiffon	        :#FFFACD;	//255,250,205
$LightBlue	            :#ADD8E6;	//173,216,230
$LightCoral	            :#F08080;	//240,128,128
$LightCyan	            :#E0FFFF;	//224,255,255
$LightGoldenRodYellow	:#FAFAD2;	//250,250,210
$LightGray	            :#D3D3D3;	//211,211,211
$LightGrey	            :#D3D3D3;	//211,211,211
$LightGreen	            :#90EE90;	//144,238,144
$LightPink	            :#FFB6C1;	//255,182,193
$LightSalmon	        :#FFA07A;	//255,160,122
$LightSeaGreen	        :#20B2AA;	//32,178,170
$LightSkyBlue	        :#87CEFA;	//135,206,250
$LightSlateGray	        :#778899;	//119,136,153
$LightSlateGrey	        :#778899;	//119,136,153
$LightSteelBlue	        :#B0C4DE;	//176,196,222
$LightYellow	        :#FFFFE0;	//255,255,224
$Lime	                :#00FF00;	//0,255,0
$LimeGreen	            :#32CD32;	//50,205,50
$Linen	                :#FAF0E6;	//250,240,230
$Magenta	            :#FF00FF;	//255,0,255
$Maroon	                :#800000;	//128,0,0
$MediumAquaMarine	    :#66CDAA;	//102,205,170
$MediumBlue	            :#0000CD;	//0,0,205
$MediumOrchid	        :#BA55D3;	//186,85,211
$MediumPurple	        :#9370DB;	//147,112,219
$MediumSeaGreen	        :#3CB371;	//60,179,113
$MediumSlateBlue	    :#7B68EE;	//123,104,238
$MediumSpringGreen	    :#00FA9A;	//0,250,154
$MediumTurquoise	    :#48D1CC;	//72,209,204
$MediumVioletRed	    :#C71585;	//199,21,133
$MidnightBlue	        :#191970;	//25,25,112
$MintCream	            :#F5FFFA;	//245,255,250
$MistyRose	            :#FFE4E1;	//255,228,225
$Moccasin	            :#FFE4B5;	//255,228,181
$NavajoWhite	        :#FFDEAD;	//255,222,173
$Navy	                :#000080;	//0,0,128
$OldLace	            :#FDF5E6;	//253,245,230
$Olive	                :#808000;	//128,128,0
$OliveDrab	            :#6B8E23;	//107,142,35
$Orange	                :#FFA500;	//255,165,0
$OrangeRed	            :#FF4500;	//255,69,0
$Orchid	                :#DA70D6;	//218,112,214
$PaleGoldenRod	        :#EEE8AA;	//238,232,170
$PaleGreen	            :#98FB98;	//152,251,152
$PaleTurquoise	        :#AFEEEE;	//175,238,238
$PaleVioletRed	        :#DB7093;	//219,112,147
$PapayaWhip	            :#FFEFD5;	//255,239,213
$PeachPuff	            :#FFDAB9;	//255,218,185
$Peru	                :#CD853F;	//205,133,63
$Pink	                :#FFC0CB;	//255,192,203
$Plum	                :#DDA0DD;	//221,160,221
$PowderBlue	            :#B0E0E6;	//176,224,230
$Purple	                :#800080;	//128,0,128
$RebeccaPurple	        :#663399;	//102,51,153
$Red	                :#FF0000;	//255,0,0
$RosyBrown	            :#BC8F8F;	//188,143,143
$RoyalBlue	            :#4169E1;	//65,105,225
$SaddleBrown	        :#8B4513;	//139,69,19
$Salmon	                :#FA8072;	//250,128,114
$SandyBrown	            :#F4A460;	//244,164,96
$SeaGreen	            :#2E8B57;	//46,139,87
$SeaShell	            :#FFF5EE;	//255,245,238
$Sienna	                :#A0522D;	//160,82,45
$Silver	                :#C0C0C0;	//192,192,192
$SkyBlue	            :#87CEEB;	//135,206,235
$SlateBlue	            :#6A5ACD;	//106,90,205
$SlateGray	            :#708090;	//112,128,144
$SlateGrey	            :#708090;	//112,128,144
$Snow	                :#FFFAFA;	//255,250,250
$SpringGreen	        :#00FF7F;	//0,255,127
$SteelBlue	            :#4682B4;	//70,130,180
$Tan	                :#D2B48C;	//210,180,140
$Teal	                :#008080;	//0,128,128
$Thistle	            :#D8BFD8;	//216,191,216
$Tomato	                :#FF6347;	//255,99,71
$Turquoise	            :#40E0D0;	//64,224,208
$Violet	                :#EE82EE;	//238,130,238
$Wheat	                :#F5DEB3;	//245,222,179
$White	                :#FFFFFF;	//255,255,255
$WhiteSmoke	            :#F5F5F5;	//245,245,245
$Yellow	                :#FFFF00;	//255,255,0
$YellowGreen	        :#9ACD32;	//154,205,50


//Padrão Americano

/* FS 595 Highway Colors */
$w3-highway-brown       :#633517;
$w3-highway-red	        :#a6001a;
$w3-highway-orange	    :#e06000;
$w3-highway-schoolbus   :#ee9600;
$w3-highway-yellow	    :#ffab00;
$w3-highway-green	    :#004d33;
$w3-highway-blue	    :#00477e;
/* safaty-colors */
$w3-safety-red	        :#bd1e24;
$w3-safety-orange       :#e97600;
$w3-safety-yellow       :#f6c700;
$w3-safety-green        :#007256;
$w3-safety-blue	        :#0067a7;
$w3-safety-purple       :#964f8e;
/* FS 595 Camouflage Colors
 */
$w3-camo-brown	        :#594d45;
$w3-camo-red	        :#79533d;
$w3-camo-olive	        :#595142;
$w3-camo-field	        :#745d46;
$w3-camo-earth	        :#ac7e54;
$w3-camo-sand	        :#a9947b;
$w3-camo-tan	        :#b49d80;
$w3-camo-sandstone	    :#bcab90;
$w3-camo-dark-green	    :#535640;
$w3-camo-forest	        :#54504b;
$w3-camo-light-green    :#63613e;
$w3-camo-green	        :#4a5444;
$w3-camo-dark-gray	    :#5c5c5b;
$w3-camo-gray	        :#9495a5;
$w3-camo-black	        :#373538;

$Blue	               :#09568d;
$Insignia-Blue         :#172035;
$Oxygen-Tank-Green	   :#457725;
$Olive-Drab	           :#686b69;
$Lemon-Yellow          :#ffbb00;
$Orange-Yellow	       :#f8a300;
$Aircraft-Cream	       :#f0c282;
$Aviation-Orange	   :#ce3500;
$Insignia-Red	       :#901E1D;
$Maroon	               :#421814;
$Insignia-White	       :#f0e9ee;
$Aircraft-Gray	       :#a2a7ad;
$Engine-Gray	       :#47484a;
$Instrument-Black	   :#1c1d22;
$Black	               :#0b0b0d;
$Strata-Blue	       :#122b3e;
$Aircraf-White	       :#f1eaee;
$Light-Gray	           :#b0aaad;
$Gunship-Gray	       :#5b5e6a;
$Navy-Black	           :#343236;
$Aircraft-Insignia-Blue:#363848;
$Aircraft-Sea-Blue	   :#262f39;
$Sea-Blue	           :#373a42;
$Navy-Blue	           :#646e83;
$Azure-Blue	           :#7284b7;
$Sky	               :#acac9a;
$Interior-Green	       :#65623c;
$Gunship-Green	       :#46554f;
$Dark-Olive-Drab	   :#4d4c30;
$Aircraft-Yellow	   :#ffaa07;
$Tan	               :#a98652;
$Desert-Sand	       :#b19083;
$Field-Drab	           :#705a43;
$Dull-Red	           :#874840;
$Aircraft-Red	       :#a0333a;
$Light-Gull-Gray       :#acaca4;
$Aircraft-Gray	       :#7e7e87;
$Aircraft-Black	       :#383839;
$Teal-Blue	           :#002d30;
$Medium-Green	       :#635d41;
$Sea-Plane-Gray	       :#4b4c50;
$Semi-Gloss-White	   :#f2ebf0;
$Field-Green	       :#575c45;
$Sierra-Tan	           :#987563;
$Forest-Green	       :#46554f;



